* {
    margin: 0;
    padding: 0;
    /*background-color: black;*/
}

.ins,
.contain_colors,
.text_1,
.text_2,
.contain_numbers,
.btn {
    text-align: center;
}

.ins {
    padding-top: 3%;
    /*color: white;*/
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clrs {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.clr-peachpuff {
    color: black;
    background-color: peachpuff;
}

.clr-yellow {
    color: black;
    background-color: yellow;
}

.clr-green {
    color: black;
    background-color: green;
}

.clr-blue {
    color: black;
    background-color: blue;
}

.clr-purple {
    color: black;
    background-color: purple;
}

.clr-red {
    color: black;
    background-color: red;
}

.text_1,
.text_2 {
    font-size: large;
}

.text_1 {
    margin-left: 30%;
    margin-right: 30%;
   /* color: white;
    background-color: black;*/
}

.text_2 {
    /*color: white;*/
}

.spans {
    /*background-color: black;*/
}

footer {
    text-align: center;
    color: aliceblue;
}

a:visited {
    color: blue;
    text-decoration: dashed;
}

.clr {
    width: 40px;
    height: 15px;
    text-align: center;
    border-radius: 25%;
    /*background-color: antiquewhite;*/
}

.btn {
    width: 70px;
    height: 30px;
    background-color: rgb(164, 173, 173);
}

.enjoy {
    /*color: antiquewhite;*/
}

.ccg {
    color: blue;
}
