* {
    margin: 0;
    padding: 0;
    /*background-color: black;*/
}
html{
    
    background-color: rgb(172, 171, 170);
}
.ins,
.contain_colors,
.text_1,
.text_2,
.contain_numbers,
.btn {
    text-align: center;
}

.ins {
    padding-top: 3%;
    /*color: white;*/
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clrs {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.clr-peachpuff {
    color: black;
    background-color: peachpuff;
}

.clr-yellow {
    color: black;
    background-color: yellow;
}

.clr-green {
    color: black;
    background-color: green;
}

.clr-blue {
    color: black;
    background-color: blue;
}

.clr-purple {
    color: black;
    background-color: purple;
}

.clr-red {
    color: black;
    background-color: red;
}
.back-peachpuff {
    color: peachpuff;
    background-color: rgb(172, 171, 170);
}

.back-yellow {
    color: yellow;
    background-color: rgb(172, 171, 170);
}

.back-green {
    color: green;
    background-color: rgb(172, 171, 170);
}

.back-blue {
    color: blue;
    background-color: rgb(172, 171, 170);
}

.back-purple {
    color: purple;
    background-color: rgb(172, 171, 170);
}

.back-red {
    color: red;
    background-color: rgb(172, 171, 170);
}

.text_1,
.text_2 {
    font-size: large;
}

.text_1 {
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(172, 171, 170);
   /* color: white;
    background-color: black;*/
}

.text_2 {
    /*color: white;*/
    background-color: rgb(172, 171, 170);
}


footer {
    text-align: center;
    color: aliceblue;
    background-color: rgb(172, 171, 170);
}

a:visited {
    color: blue;
    text-decoration: dashed;
}

.clr {
    width: 40px;
    height: 15px;
    text-align: center;
    border-radius: 25%;
    background-color: rgb(205, 207, 207);
    /*background-color: antiquewhite;*/
}

.btn {
    width: 70px;
    height: 30px;
    background-color: rgb(205, 207, 207);
}

.enjoy {
    color: white
}

.compil{
    color: white;
    font-style: italic;
    text-decoration: none; /* Remove underline */
}
.ccg {
    color: blue;
}
